<app-layout currentUrl="/master-data" currentUrlSubMenu="/view-budget">
  <div
    class="p-4 border border-primary-border rounded-3xl bg-neutral-10 flex flex-col gap-4"
  >
    <div
      class="flex flex-row justify-between items-center border-b border-b-primary-border py-4"
    >
      <h2 class="text-subheading font-medium text-neutral-100">List of Data</h2>
      <div class="flex flex-row gap-2 items-center">
        <p class="text-p-md text-primary-hover text-center items-center">
          Download RKAP
        </p>
        <app-button
          label="Upload RKAP"
          icon="assets/images/icons/ic-cloud-arrow-up-blue.svg"
          type="primary-not-active"
          data-modal-target="uploadRKAP"
          data-modal-toggle="uploadRKAP"
        ></app-button>
        <app-button
          label="Save Simulate"
          icon="assets/images/icons/ic-cloud-arrow-down.svg"
          type="secondary"
        >
        </app-button>
      </div>
    </div>
    <div
      class="flex flex-row gap-3 items-center border-b border-b-primary-border pb-4"
    >
      <div
        class="grow grid justify-between items-center grid-cols-3 gap-3 border-r border-r-primary-border pr-3"
      >
        <app-select-box id="years" label="Years"></app-select-box>
        <app-select-box id="dinas" label="Dinas"></app-select-box>
        <app-input-text
          type="normal"
          id="pembatasanggaran"
          label="Pembatasan Anggaran (%) (Opsional)"
        ></app-input-text>
      </div>
      <div>
        <app-button
          id="simulate"
          label="Simulate"
          icon="assets/images/icons/ic-shield-check.svg"
          type="secondary"
        ></app-button>
      </div>
    </div>
    <div
      class="flex flex-col gap-4 p-4 box-border border border-primary-border rounded-3xl bg-primary-bg-2"
    >
      <div
        class="grid justify-between items-center grid-cols-2 gap-3 border border-b-primary-border border-t-primary-bg-2 border-x-primary-bg-2 py-4"
      >
        <app-select-box
          id="group"
          label="Group"
          [data]="selectGroupData"
        ></app-select-box>
        <app-select-box
          id="groupDetail"
          label="Group Detail"
          [data]="selectGroupDetail"
        ></app-select-box>
      </div>
      <div>
        <div class="grid justify-center items-center grid-cols-5 gap-3 mt-1">
          <div class="flex flex-col gap-1 items-center justify-center">
            Budget MTD
            <div
              class="border border-primary-border bg-primary-border rounded-2xl text-p-md font-semibold text-center items-center p-3 w-full"
            >
              1.759.077
            </div>
          </div>
          <div class="flex flex-col gap-1 items-center justify-center">
            Actual MTD
            <div
              class="border border-primary-border bg-primary-border rounded-2xl text-p-md font-semibold text-center items-center p-3 w-full"
            >
              1.759.077
            </div>
          </div>
          <div class="flex flex-col gap-1 items-center justify-center">
            Budget YTD
            <div
              class="border border-primary-border bg-primary-border rounded-2xl text-p-md font-semibold text-center items-center p-3 w-full"
            >
              1.759.077
            </div>
          </div>
          <div class="flex flex-col gap-1 items-center justify-center">
            Actual MTD
            <div
              class="border border-primary-border bg-primary-border rounded-2xl text-p-md font-semibold text-center items-center p-3 w-full"
            >
              1.759.077
            </div>
          </div>
          <div class="flex flex-col gap-1 items-center justify-center">
            Total Remaining Budget
            <div
              class="border border-primary-border bg-primary-border rounded-2xl text-p-md font-semibold text-center items-center p-3 w-full"
            >
              1.759.077
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-view-budget-table [body]="tableBody" />
  </div>
  <div
    id="uploadRKAP"
    tabindex="-1"
    class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
    <div class="relative w-full max-w-md max-h-full">
      <div
        class="relative bg-neutral-10 border border-primary-border rounded-3xl shadow dark:bg-gray-700"
      >
        <div class="text-center mt-6"><h6>Upload RKAP</h6></div>
        <div class="flex items-center justify-center w-full">
          <label
            for="dropzone-file"
            class="flex flex-col items-center justify-center mx-6 mt-6 w-[400px] h-[160px] border border-primary-border rounded-2xl cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
          >
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <div class="mb-3">
                <img src="assets/images/icons/ic-form-upload.svg" alt="" />
              </div>
              <p class="mb-1 text-p-md text-primary-hover font-medium">
                Upload a file or drag and drop
              </p>
              <p class="text-p-sm text-gray-500 dark:text-gray-400">
                Only Excel files template can be uploaded
              </p>
            </div>
            <input
              id="dropzone-file"
              type="file"
              class="hidden"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              [value]="uploadedFile"
              (change)="uploadFile($event)"
            />
          </label>
        </div>
        <div
          class="flex flex-col items-start justify-start border border-primary-border bg-primary-bg-2 rounded-xl mt-2 mx-6 p-2 gap-2 box-border"
        >
          <div class="flex justify-between items-center gap-1">
            <span>
              <img src="assets/images/icons/ic-paper-clip.svg" alt="" />
            </span>
            <span class="text-primary-hover text-p-sm">{{
              uploadedFile ? uploadedFile.name : "-"
            }}</span>
            <ng-container *ngIf="uploadedFile">
              <img
                src="assets/images/icons/ic-x-circle.svg"
                class="w-4 h-4"
                alt="ic x circle"
                (click)="
                  uploadedFile = null;
                  isUploadSuccess = false;
                  fileSize = '';
                  isUploadError = false
                "
              />
            </ng-container>
          </div>
          <ng-container *ngIf="isUploadSuccess">
            <p class="text-p-sm text-tertiary-br-green">Upload Success</p>
          </ng-container>
          <ng-container *ngIf="isUploadError">
            <p class="text-p-sm text-tertiary-tx-red">{{ uploadError }}</p>
          </ng-container>
          <!-- <div class="flex flex-row gap-1 items-center w-full">
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div
              class="bg-blue-600 h-2.5 rounded-full"
              style="width: 45%"
            ></div>
          </div>
          <span
            class="text-caption font-medium text-neutral-100 dark:text-white"
          >
            45%
          </span>
        </div> -->
        </div>
        <div class="mx-6 mt-3">
          <app-select-box
            id="yearsRKAP"
            label="Years RKAP"
            [data]="yearsData"
            [required]="true"
            (selectedValue)="getValueSelectBox($event)"
          ></app-select-box>
        </div>
        <div class="px-6 pb-6 text-center mt-10">
          <div class="grid grid-cols-2 items-center justify-center gap-3">
            <app-button
              type="primary-not-active"
              label="Cancel"
              data-modal-hide="uploadRKAP"
              [hasIcon]="false"
              [isFull]="true"
            />

            <app-button
              [isFull]="true"
              type="primary"
              label="Upload Now"
              data-modal-hide="uploadRKAP"
              (click)="saveRKAP()"
              [hasIcon]="false"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
