<table class="w-full">
  <tr
    class="text-center border border-b-2 border-b-primary-hover text-p-md tracking-[0.5px] table-auto"
  >
    <th class="w-12 h-14">No.</th>
    <th class="w-30 h-14">No. of Request</th>
    <th class="w-40 h-14">Entry Date</th>
    <th class="w-30 h-14">Dinas</th>
    <th class="w-25 h-14">Status</th>
    <th class="w-18 h-14">Type Submission</th>
    <th class="w-40 h-14">Status To</th>
    <th class="w-30 h-14">Department To</th>
    <th class="w-40 h-14">Submission Value</th>
    <th class="w-16 h-14">Action</th>
  </tr>
  <tr
    class="text-center border border-b-1 border-b-primary-border text-p-md tracking-[0.5px]"
  >
    <td>01</td>
    <td>TD/1079/8/23</td>
    <td>30 Maret 2023</td>
    <td>TD</td>
    <td>
      <div
        class="text-p-sm mx-auto tracking-[0.5px] border-solid border border-tertiary-br-green text-tertiary-tx-green text-center w-[54px] h-[24px] rounded bg-tertiary-bg-green"
      >
        Closed
      </div>
    </td>
    <td>Uang Muka</td>
    <td></td>
    <td></td>
    <td>20.949,75 USD</td>
    <td><img src="" alt="Arrow down" /></td>
  </tr>
  <tr
    class="text-center border border-b-1 border-b-primary-border text-p-md tracking-[0.5px]"
  >
    <td>02</td>
    <td>TD/1079/8/23</td>
    <td>30 Maret 2023</td>
    <td>TB</td>
    <td>
      <div
        class="text-p-sm mx-auto tracking-[0.5px] border-solid border border-tertiary-br-blue text-tertiary-tx-blue text-center w-[54px] h-[24px] rounded bg-tertiary-bg-blue"
      >
        Progress
      </div>
    </td>
    <td>Pengadaan</td>
    <td>Ade Ma'rufan Amala</td>
    <td>JKTTDI-2</td>
    <td>20.949,75 USD</td>
    <td><img src="" alt="Arrow down" /></td>
  </tr>
  <tr
    class="text-center border border-b-1 border-b-primary-border text-p-md tracking-[0.5px]"
  >
    <td>03</td>
    <td>TD/1079/8/23</td>
    <td></td>
    <td>TJ</td>
    <td>
      <div
        class="text-p-sm mx-auto tracking-[0.5px] border-solid border border-tertiary-br-red text-tertiary-tx-red text-center w-[54px] h-[24px] rounded bg-tertiary-bg-red"
      >
        Open
      </div>
    </td>
    <td>Entertaiment</td>
    <td>Ade Ma'rufan Amala</td>
    <td>JKTTDI-2</td>
    <td>20.949,75 USD</td>
    <td><img src="" alt="Arrow down" /></td>
  </tr>
  <tr
    class="text-center border border-b-1 border-b-primary-border text-p-md tracking-[0.5px]"
  >
    <td>04</td>
    <td>TD/1079/8/23</td>
    <td>30 Maret 2023</td>
    <td>TE</td>
    <td>
      <div
        class="text-p-sm mx-auto tracking-[0.5px] border-solid border border-tertiary-br-tosca text-tertiary-tx-tosca text-center w-[54px] h-[24px] rounded bg-tertiary-bg-tosca"
      >
        Revise
      </div>
    </td>
    <td>Entertaiment</td>
    <td>Ade Ma'rufan Amala</td>
    <td>JKTTDI-2</td>
    <td>20.949,75 USD</td>
    <td><img src="" alt="Arrow down" /></td>
  </tr>
  <tr
    class="text-center border border-b-1 border-b-primary-border text-p-md tracking-[0.5px]"
  >
    <td>05</td>
    <td>TD/1079/8/23</td>
    <td>30 Maret 2023</td>
    <td>TD</td>
    <td>
      <div
        class="text-p-sm mx-auto tracking-[0.5px] border-solid border border-tertiary-br-yellow text-tertiary-tx-yellow text-center w-[54px] h-[24px] rounded bg-tertiary-bg-yellow"
      >
        Reject
      </div>
    </td>
    <td>Entertaiment</td>
    <td></td>
    <td></td>
    <td>20.949,75 USD</td>
    <td><img src="" alt="Arrow down" /></td>
  </tr>
  <tr
    class="text-center border border-b-1 border-b-primary-border text-p-md tracking-[0.5px]"
  >
    <td>06</td>
    <td>TD/1079/8/23</td>
    <td>30 Maret 2023</td>
    <td>TC</td>
    <td>
      <div
        class="text-p-sm mx-auto tracking-[0.5px] border-solid border border-tertiary-br-yellow text-tertiary-tx-yellow text-center w-[54px] h-[24px] rounded bg-tertiary-bg-yellow"
      >
        Reject
      </div>
    </td>
    <td>Entertaiment</td>
    <td></td>
    <td></td>
    <td>20.949,75 USD</td>
    <td><img src="" alt="Arrow down" /></td>
  </tr>
  <tr
    class="text-center border border-b-1 border-b-primary-border text-p-md tracking-[0.5px]"
  >
    <td>07</td>
    <td>TD/1079/8/23</td>
    <td>30 Maret 2023</td>
    <td>TZ</td>
    <td>
      <div
        class="text-p-sm mx-auto tracking-[0.5px] border-solid border border-tertiary-br-yellow text-tertiary-tx-yellow text-center w-[54px] h-[24px] rounded bg-tertiary-bg-yellow"
      >
        Reject
      </div>
    </td>
    <td>Entertaiment</td>
    <td></td>
    <td></td>
    <td>20.949,75 USD</td>
    <td><img src="" alt="Arrow down" /></td>
  </tr>
  <tr
    class="text-center border border-b-1 border-b-primary-border text-p-md tracking-[0.5px]"
  >
    <td>08</td>
    <td>TD/1079/8/23</td>
    <td>30 Maret 2023</td>
    <td>TU</td>
    <td>
      <div
        class="text-p-sm mx-auto tracking-[0.5px] border-solid border border-tertiary-br-yellow text-tertiary-tx-yellow text-center w-[54px] h-[24px] rounded bg-tertiary-bg-yellow"
      >
        Reject
      </div>
    </td>
    <td>Entertaiment</td>
    <td></td>
    <td></td>
    <td>20.949,75 USD</td>
    <td><img src="" alt="Arrow down" /></td>
  </tr>
  <tr
    class="text-center border border-b-1 border-b-primary-border text-p-md tracking-[0.5px]"
  >
    <td>09</td>
    <td>TD/1079/8/23</td>
    <td>30 Maret 2023</td>
    <td>TQ</td>
    <td>
      <div
        class="text-p-sm mx-auto tracking-[0.5px] border-solid border border-tertiary-br-yellow text-tertiary-tx-yellow text-center w-[54px] h-[24px] rounded bg-tertiary-bg-yellow"
      >
        Reject
      </div>
    </td>
    <td>Entertaiment</td>
    <td></td>
    <td></td>
    <td>20.949,75 USD</td>
    <td><img src="" alt="Arrow down" /></td>
  </tr>
  <tr
    class="text-center border border-b-1 border-b-primary-border text-p-md tracking-[0.5px]"
  >
    <td>10</td>
    <td>TD/1079/8/23</td>
    <td>30 Maret 2023</td>
    <td>TL</td>
    <td>
      <div
        class="text-p-sm mx-auto tracking-[0.5px] border-solid border border-tertiary-br-yellow text-tertiary-tx-yellow text-center w-[54px] h-[24px] rounded bg-tertiary-bg-yellow"
      >
        Reject
      </div>
    </td>
    <td>Entertaiment</td>
    <td></td>
    <td></td>
    <td>20.949,75 USD</td>
    <td><img src="" alt="Arrow down" /></td>
  </tr>
</table>
