<app-layout currentUrl="/master-data" currentUrlSubMenu="/kurs-usd">
  <div
    class="p-4 border border-primary-border rounded-3xl bg-neutral-10 flex flex-col gap-4"
  >
    <div class="flex flex-row justify-between items-center">
      <h2 class="text-subheading font-medium text-neutral-100">List of Data</h2>
      <div class="flex flex-row gap-3">
        <app-button
          label="Add New"
          icon="assets/images/icons/ic-plus-circle-white.svg"
          type="primary"
          data-modal-target="kursAdd"
          data-modal-toggle="kursAdd"
        ></app-button>
      </div>
    </div>
    <table class="w-full">
      <tr
        class="text-center border border-b-2 border-x-white border-t-white border-b-primary-hover text-p-md tracking-[0.5px] table-auto"
      >
        <th class="p-2">No.</th>
        <th class="p-2">Years</th>
        <th class="p-2">Value (IDR)</th>
        <th class="p-2">Action</th>
      </tr>
      <tbody *ngFor="let item of tableData; let i = index">
        <tr
          class="text-center border border-x-white border-t-white border-b-1 border-b-primary-border text-p-md tracking-[0.5px]"
        >
          <td class="p-4">{{ i + 1 }}</td>
          <td>{{ item.years }}</td>
          <td>{{ item.value }}</td>
          <td>
            <div class="flex justify-center">
              <div class="flex mx-auto">
                <app-button
                  icon="assets/images/icons/ic-pencil-square-blue.svg"
                  type="action-primary"
                  (click)="kursEditOpen(item)"
                ></app-button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-between items-center">
      <div class="flex gap-1">
        <div class="text-p-md tracking-[0.5px] text-neutral-60">
          Row per page
        </div>
        <div class="text-p-md tracking-[0.5px] text-neutral-100">10</div>
      </div>
      <div class="justify-end items-center mt-2">
        <div class="flex gap-1">
          <div class="text-p-md tracking-[0.5px] text-neutral-60">Page</div>
          <div
            class="text-p-md tracking-[0.5px] border-solid border-2 border-primary-border text-primary-hover text-center rounded-lg w-[22px] h-[22px] flex justify-center items-center"
          >
            1
          </div>
          <div class="text-p-md tracking-[0.5px] text-neutral-60">of 200</div>
          <div
            class="text-p-md tracking-[0.5px] border-solid border-2 bg-neutral-20 border-neutral-40 text-neutral-60 text-center rounded-lg w-[22px] h-[22px] flex justify-center items-center"
          >
            <img
              src="assets/images/icons/ic-arrow-left-not-active.svg"
              alt=""
            />
          </div>
          <div
            class="text-p-md tracking-[0.5px] border-solid border-2 border-primary-hover bg-primary-hover text-white text-center rounded w-[22px] h-[22px] flex justify-center items-center"
          >
            1
          </div>
          <div
            class="text-p-md tracking-[0.5px] border-solid border-2 border-primary-border text-primary-hover text-center rounded-lg w-[22px] h-[22px] flex justify-center items-center"
          >
            2
          </div>
          <div
            class="text-p-md tracking-[0.5px] border-solid border-2 border-primary-border text-primary-hover text-center rounded-lg w-[22px] h-[22px] flex justify-center items-center"
          >
            3
          </div>
          <div
            class="text-p-md tracking-[0.5px] border-solid border-2 border-primary-border text-primary-hover text-center rounded-lg w-[22px] h-[22px] flex justify-center items-center"
          >
            ...
          </div>
          <div
            class="text-p-md tracking-[0.5px] border-solid border-2 border-primary-border text-primary-hover text-center rounded-lg w-[22px] h-[22px] flex justify-center items-center"
          >
            <img src="assets/images/icons/ic-arrow-right.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div
      id="kursAdd"
      tabindex="-1"
      class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
    >
      <div class="relative w-full max-w-md max-h-full">
        <div
          class="relative bg-neutral-10 border border-primary-border rounded-lg shadow dark:bg-gray-700"
        >
          <div class="text-center mt-6"><h6>Add New</h6></div>
          <div class="mt-6 mx-6">
            <app-select-box
              id="years"
              label="Years"
              [data]="yearsData"
              [required]="true"
              (selectedValue)="getValueSelectBox($event)"
            ></app-select-box>
          </div>
          <div class="mt-2 mx-6">
            <app-input-text
              type="normal"
              id="addKurs"
              placeholder=" Please Fill this"
              label="Value (IDR)"
              [required]="true"
              (currentValue)="getValueInputText($event)"
            >
            </app-input-text>
          </div>
          <div class="px-6 pb-6 text-center mt-10">
            <div class="grid grid-cols-2 items-center justify-center gap-3">
              <app-button
                type="primary-not-active"
                label="Cancel"
                [hasIcon]="false"
                [isFull]="true"
                data-modal-hide="kursAdd"
              />

              <app-button
                [isFull]="true"
                (click)="kursAddPost(yearsSelected, inputValue, 'Ade Amalia')"
                type="primary"
                label="Save"
                [hasIcon]="false"
                data-modal-hide="kursAdd"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="kursEdit"
      tabindex="-1"
      class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
    >
      <div class="relative w-full max-w-md max-h-full">
        <div
          class="relative bg-neutral-10 border border-primary-border rounded-lg shadow dark:bg-gray-700"
        >
          <div class="text-center mt-6"><h6>Edit Value</h6></div>
          <div class="mt-6 mx-6">
            <app-input-text
              type="normal"
              id="editKurs"
              [value]="selectedKurs?.years"
              label="Years"
              [isReadOnly]="true"
            >
            </app-input-text>
          </div>
          <div class="mt-2 mx-6">
            <app-input-text
              type="normal"
              id="addKurs"
              [value]="selectedKurs?.value"
              (currentValue)="getValueInputText($event)"
              label="Value (IDR)"
              [required]="true"
            >
            </app-input-text>
          </div>
          <div class="px-6 pb-6 text-center mt-10">
            <div class="grid grid-cols-2 items-center justify-center gap-3">
              <app-button
                type="primary-not-active"
                label="Cancel"
                [hasIcon]="false"
                [isFull]="true"
                (click)="kursEditClose()"
              />

              <app-button
                [isFull]="true"
                type="primary"
                label="Update"
                [hasIcon]="false"
                (click)="
                  kursEditPut(inputValue, 'Ade Amalia', selectedKurs.idKurs)
                "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
