<section id="trackingApprovalReallocation" class="flex flex-col gap-4">
  <div
    class="flex flex-col items-center justify-center border-b border-primary-border"
  >
    <p class="text-p-lg font-medium text-neutral-100 mb-1">
      Approval Budget Corporate
    </p>
  </div>
  <div class="flex justify-center gap-3 w-full flex-wrap">
    <app-card
      status="Approve"
      title="Preapared by"
      name="R RENDY PURWIDYAPUTRA"
      position="SM TAB"
    ></app-card>
    <app-card
      status="Approve"
      title="Reviewed by"
      name="Zarul Fuziono"
      position="SM TAM"
    ></app-card>
    <app-card
      status="Approve"
      title="Checked by"
      name="Chairuddin"
      position="VP Financial & Management
      Accounting"
    ></app-card>
    <app-card
      status="Approve"
      title="Approved by"
      name=" SALUSRA SATRIA"
      position="DIRECTOR OF FINANCE"
    ></app-card>
  </div>
</section>
