<div class="flex flex-col gap-3 min-w-full overflow-x-auto">
  <div
    class="border border-primary-border bg-neutral-10 rounded-3xl p-4 w-full mt-4"
  >
    <div class="flex justify-between items-center">
      <div class="flex flex-col justify-start items-start">
        <p class="text-p-sm text-neutral-60 p-0 m-0 leading-3">Description</p>
        <p class="text-p-lg font-semibold text-neutral-100">RKAP Budget</p>
      </div>
      <app-button
        [icon]="
          isDisplayRkap
            ? 'assets/images/icons/ic-arrow-down.svg'
            : 'assets/images/icons/ic-arrow-up-active.svg'
        "
        [type]="isDisplayRkap ? 'primary-not-active' : 'primary'"
        (click)="isDisplayRkap = !isDisplayRkap"
      >
        >
      </app-button>
    </div>
  </div>

  <ng-container *ngIf="!isDisplayRkap">
    <div class="flex">
      <div>
        <table class="w-full">
          <tr
            class="text-center border border-b-2 border-x-white border-t-white border-b-primary-hover text-p-md tracking-[0.5px] whitespace-nowrap sticky top-0"
          >
            <th class="px-4">Action</th>
            <th *ngFor="let column of headers" class="px-4">
              {{ column }}
            </th>
          </tr>
          <tbody *ngFor="let item of body">
            <tr
              class="text-center border border-x-white border-t-white border-b-1 border-b-primary-border text-p-md tracking-[0.5px] whitespace-nowrap"
            >
              <td>
                <button (click)="onClick(item.id)" type="button" class="">
                  <div
                    class="text-p-sm mx-auto tracking-[0.5px] border-solid border-2 border-primary-border text-primary-hover text-center w-[22px] h-[22px] rounded-full bg-tertiary-white"
                    [ngClass]="{
                        'bg-primary-hover':item.id === activeId,
                        'border-primary-hover':item.id === activeId,
                      }"
                  >
                    <img
                      [src]="
                        item.id === activeId
                          ? 'assets/images/icons/ic-arrow-up-active.svg'
                          : 'assets/images/icons/ic-arrow-down.svg'
                      "
                      alt="Arrow down"
                    />
                  </div>
                </button>
              </td>
              <td class="h-[56px] px-4">{{ item.financialIndicators }}</td>
              <td class="h-[56px] px-4">{{ item.glNumber }}</td>
              <td class="h-[56px] px-4">{{ item.total }}</td>
              <td class="h-[56px] px-4">{{ item.jan }}</td>
              <td class="h-[56px] px-4">{{ item.feb }}</td>
              <td class="h-[56px] px-4">{{ item.mar }}</td>
              <td class="h-[56px] px-4">{{ item.apr }}</td>
              <td class="h-[56px] px-4">{{ item.jun }}</td>
              <td class="h-[56px] px-4">{{ item.jul }}</td>
              <td class="h-[56px] px-4">{{ item.agu }}</td>
              <td class="h-[56px] px-4">{{ item.sep }}</td>
              <td class="h-[56px] px-4">{{ item.okt }}</td>
              <td class="h-[56px] px-4">{{ item.nov }}</td>
              <td class="h-[56px] px-4">{{ item.des }}</td>
            </tr>
            <tr
              *ngIf="item.id === activeId"
              class="text-center border border-x-white border-t-white border-b-1 border-b-primary-border bg-primary-bg-2 text-p-md tracking-[0.5px] whitespace-nowrap"
            >
              <td></td>
              <td>Travel</td>
              <td>40011000</td>
              <td>111111</td>
              <td>115.864</td>
              <td>115.864</td>
              <td>773.24</td>
              <td>773.24</td>
              <td>773.24</td>
              <td>773.24</td>
              <td>773.24</td>
              <td>773.24</td>
              <td>773.24</td>
              <td>773.24</td>
              <td>773.24</td>
              <td>773.24</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <div
    class="border border-primary-border bg-neutral-10 rounded-3xl p-4 w-full mt-4"
  >
    <div class="flex justify-between items-center">
      <div class="flex flex-col justify-start items-start">
        <p class="text-p-sm text-neutral-60 p-0 m-0 leading-3">Description</p>
        <p class="text-p-lg font-semibold text-neutral-100">
          Actual Realization
        </p>
      </div>
      <app-button
        [icon]="
          isDisplayActual
            ? 'assets/images/icons/ic-arrow-down.svg'
            : 'assets/images/icons/ic-arrow-up-active.svg'
        "
        [type]="isDisplayActual ? 'primary-not-active' : 'primary'"
        (click)="isDisplayActual = !isDisplayActual"
      >
        >
      </app-button>
    </div>
  </div>
  <div
    class="border border-primary-border bg-neutral-10 rounded-3xl p-4 w-full mt-4"
  >
    <div class="flex justify-between items-center">
      <div class="flex flex-col justify-start items-start">
        <p class="text-p-sm text-neutral-60 p-0 m-0 leading-3">Description</p>
        <p class="text-p-lg font-semibold text-neutral-100">Remaining Budget</p>
      </div>
      <app-button
        [icon]="
          isDisplayRemaining
            ? 'assets/images/icons/ic-arrow-down.svg'
            : 'assets/images/icons/ic-arrow-up-active.svg'
        "
        [type]="isDisplayRemaining ? 'primary-not-active' : 'primary'"
        (click)="isDisplayRemaining = !isDisplayRemaining"
      >
        >
      </app-button>
    </div>
  </div>
</div>
