<app-layout currentUrl="/need-approval">
  <div
    class="p-4 border border-primary-border rounded-3xl bg-neutral-10 flex flex-col gap-4"
  >
    <div class="flex justify-between items-center">
      <app-button
        icon="assets/images/icons/ic-arrow-left.svg"
        type="primary-not-active"
        label="Back"
        [isHref]="true"
        href="/dashboard"
      />
      <div class="flex flex-col items-center justify-center">
        <p class="text-p-lg font-medium text-neutral-100">TD/1043/8/23</p>
        <p class="text-p-sm leading-3 text-neutral-60">No. of Request</p>
      </div>
      <div></div>
    </div>
    <div class="flex items-center gap-2 border-b border-b-primary-border">
      <div class="px-1 py-2 border-b-4 border-b-primary-hover">
        <p class="text-primary-hover text-p-md font-medium">
          Request & Verification
        </p>
      </div>
      <div class="px-1 py-2">
        <p class="text-neutral-60 text-p-md font-medium">Reallocation Budget</p>
      </div>
      <div class="px-1 py-2">
        <p class="text-neutral-60 text-p-md font-medium">Remark</p>
      </div>
      <div class="px-1 py-2">
        <p class="text-neutral-60 text-p-md font-medium">Tracking Approval</p>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-4">
      <app-input-text
        type="normal"
        [isReadOnly]="true"
        id="entryDate"
        label="Entry Date"
        value="30 Maret 2023"
      />
      <app-input-text
        type="normal"
        [isReadOnly]="true"
        id="userDinas"
        label="User (Dinas)"
        value="TD"
      />
      <app-input-text
        type="normal"
        [isReadOnly]="true"
        id="taReff"
        label="TA Reff"
        value="TAB/RA.TD/08.029/2023"
      />
      <app-input-text
        type="normal"
        [isReadOnly]="true"
        id="typeOfSubmission"
        label="Type Of Submission"
        value="Uang Muka"
      />
    </div>
    <div class="grid grid-cols-4 gap-4">
      <app-input-text
        type="normal"
        [isReadOnly]="true"
        id="nameOfRequest"
        label="Name of Request"
        value="Ade Ma’rufan Amala"
      />
      <app-input-text
        type="normal"
        [isReadOnly]="true"
        id="idNumberOfRequest"
        label="ID Number of Request"
        value="582127"
      />
      <app-input-text
        type="normal"
        [isReadOnly]="true"
        id="responsibleOfRequest"
        label="Responsible of Request"
        value="RESTY ARIFIKA"
      />
      <app-input-text
        type="normal"
        [isReadOnly]="true"
        id="idNumberOfResponsible"
        label="ID Number of Responsible"
        value="580448"
      />
    </div>
  </div>
</app-layout>
