<section id="requestVerification" class="flex flex-col gap-4">
  <div class="grid grid-cols-4 gap-4">
    <app-input-text
      type="normal"
      [isReadOnly]="true"
      id="entryDate"
      label="Entry Date"
      value="30 Maret 2023"
    />
    <app-input-text
      type="normal"
      [isReadOnly]="true"
      id="userDinas"
      label="User (Dinas)"
      value="TD"
    />
    <app-input-text
      type="normal"
      [isReadOnly]="true"
      id="taReff"
      label="TA Reff"
      value="TAB/RA.TD/08.029/2023"
    />
    <app-input-text
      type="normal"
      [isReadOnly]="true"
      id="typeOfSubmission"
      label="Type Of Submission"
      value="Uang Muka"
    />
  </div>
  <div class="grid grid-cols-4 gap-4">
    <app-input-text
      type="normal"
      [isReadOnly]="true"
      id="nameOfRequest"
      label="Name of Request"
      value="Ade Ma’rufan Amala"
    />
    <app-input-text
      type="normal"
      [isReadOnly]="true"
      id="idNumberOfRequest"
      label="ID Number of Request"
      value="582127"
    />
    <app-input-text
      type="normal"
      [isReadOnly]="true"
      id="responsibleOfRequest"
      label="Responsible of Request"
      value="RESTY ARIFIKA"
    />
    <app-input-text
      type="normal"
      [isReadOnly]="true"
      id="idNumberOfResponsible"
      label="ID Number of Responsible"
      value="580448"
    />
  </div>
  <div class="grid grid-cols-3 gap-4">
    <app-input-text
      type="normal"
      [isReadOnly]="true"
      id="status"
      label="Status"
      value="Progress"
    />
    <app-input-text
      type="normal"
      [isReadOnly]="true"
      id="statusTo"
      label="Status To"
      value="RIFKY SEFTI NUGROHO"
    />
    <app-input-text
      type="normal"
      [isReadOnly]="true"
      id="departmentTo"
      label="Department To"
      value="JKTTAB"
    />
  </div>
  <app-textarea
    id="titleOfRequest"
    label="Title of Request"
    [required]="true"
    type="normal"
    [isReadOnly]="true"
    content="Permohonan persetujuan realisasi anggaran perpanjagan lisensi Webex meeting, Cloud device registration, add on storage, lisensi server, lisensi VMware"
    [isAsk]="true"
  />
  <app-textarea
    id="noteOfRequest"
    label="Note of Request"
    [required]="true"
    type="normal"
    [isReadOnly]="true"
    content="Keterangan detail : Renewal IDR 209,449,500. Lisensi aplikasi WEBEX meeting / confrence (7 ea). Lisensi Cloud device registration (5 ea). Addon Storage 100 Gb (1 ea). Lisensi Server CTI-CMS-1000-M5-K9 (2 ea). Lisensi Cisco Webex Video Integration for Microsoft Teams (5 ea). Estimasi biaya manage service infrastruktur maintenance selama 1 tahun sebesar RP 108.000.000 Total biaya yang dibutuhkan RP 317.449.500 (Konversi Kurs RKAP 2023 RP 14,350)"
    [isAsk]="true"
  />
  <div class="flex flex-col gap-5">
    <div
      class="flex flex-row justify-between items-center pb-2 border-b border-b-primary-border"
    >
      <div>
        <div
          class="text-p-lg font-medium text-neutral-100 after:content-['*'] after:text-tertiary-tx-red"
        >
          Item
        </div>
        <p class="text-p-sm text-neutral-80">
          As many items as you need can be added
        </p>
      </div>
    </div>
    <form class="flex flex-col gap-4">
      <div
        class="flex flex-col gap-4 p-4 box-border border border-primary-border rounded-3xl bg-primary-bg-2"
      >
        <div class="flex justify-between items-center">
          <div class="flex flex-col justify-center items-center">
            <p class="text-p-sm text-neutral-60 p-0 m-0 leading-3">Item</p>
            <p class="text-p-lg font-semibold text-neutral-100">1</p>
          </div>
          <app-button
            label="Hide Item"
            type="primary"
            icon="assets/images/icons/ic-eye-white-slash.svg"
          />
        </div>
        <hr class="w-full h-px bg-primary-border border-0" />
        <div class="grid grid-cols-3 gap-4">
          <app-input-text
            type="normal"
            id="group"
            label="Group"
            value="Rental Expense"
            [isReadOnly]="true"
          ></app-input-text>
          <app-input-text
            type="normal"
            id="groupDetail"
            label="Group Detail"
            value="Building Rental"
            [isReadOnly]="true"
          ></app-input-text>
          <app-input-text
            type="normal"
            id="GLNumber"
            label="G/L Number"
            value="40041002"
            [isAsk]="true"
            [isReadOnly]="true"
          />
        </div>
        <div class="grid grid-cols-3 gap-4">
          <app-input-text
            type="currency"
            id="available"
            label="available"
            value="62927,18"
            [isReadOnly]="true"
          ></app-input-text>
          <app-input-text
            type="normal"
            id="periodStart"
            label="Period Start"
            value="30 Maret 2023"
            [isReadOnly]="true"
          ></app-input-text>
          <app-input-text
            type="normal"
            id="periodFinish"
            label="Period Finish"
            value="30 Desember 2023"
            [isAsk]="true"
            [isReadOnly]="true"
          />
        </div>
        <div class="grid grid-cols-4 gap-4">
          <app-input-text
            type="currency"
            id="submissionValue"
            label="Submission Value"
            value="62927,18"
            [isAsk]="true"
            [isReadOnly]="true"
          ></app-input-text>
          <app-input-text
            type="currency"
            id="HPSValue"
            label="HPS Value (TAP)"
            [isReadOnly]="true"
          ></app-input-text>
          <app-input-text
            type="currency"
            id="correctionValue"
            label="Correction Value (TAB)"
            [isReadOnly]="true"
          ></app-input-text>
          <app-input-text
            type="currency"
            id="approvedValue"
            label="Approved Value (TXC)"
            [isReadOnly]="true"
          />
        </div>
        <app-input-text
          type="normal"
          id="descriptionPB"
          label="Description PB-Y-02"
          value="Pengadaan Software"
          [isAsk]="true"
          [isReadOnly]="true"
        />
        <app-input-text
          type="normal"
          id="remarkListPB"
          label="Remark List PB-Y-02"
          [isAsk]="true"
          value="Skilled"
          [isReadOnly]="true"
        />
        <app-textarea
          id="memo"
          type="normal"
          label="Memo"
          content="Permohonan persetujuan realisasi anggaran perpanjagan lisensi Webex meeting, Cloud device registration, add on storage, lisensi server, lisensi VMware dengan nilai 20.949,75 USD menggunakan budget Building-Rental (40041002)"
          [isAsk]="true"
          [isReadOnly]="true"
        />
      </div>
    </form>
    <div class="flex flex-col gap-3">
      <p class="text-center text-p-lg font-medium">
        A List of Supporting Documents (According to User Input)
      </p>
      <div class="grid grid-cols-2 gap-3">
        <div class="flex gap-2 p-3 bg-neutral-20 rounded-xl items-center">
          <input
            type="checkbox"
            name=""
            id=""
            class="w-5 h-5 checked:bg-neutral-60 bg-neutral-30 rounded-[4px] border border-neutral-30 checked:border-neutral-60"
            checked
          />
          <label for="" class="text-p-md text-neutral-80"
            >Form PB Y-001/002/003/004/005</label
          >
        </div>
        <div class="flex gap-2 p-3 bg-neutral-20 rounded-xl items-center">
          <input
            type="checkbox"
            name=""
            id=""
            class="w-5 h-5 bg-neutral-30 checked:bg-neutral-60 rounded-[4px] border border-neutral-30 checked:border-neutral-60"
          />
          <label for="" class="text-p-md text-neutral-80"
            >Realokasi Anggaran</label
          >
        </div>
      </div>
      <div class="grid grid-cols-3 gap-3">
        <div class="flex gap-2 p-3 bg-neutral-20 rounded-xl items-center">
          <input
            type="checkbox"
            name=""
            id=""
            class="w-5 h-5 checked:bg-neutral-60 bg-neutral-30 rounded-[4px] border border-neutral-30 checked:border-neutral-60"
            checked
          />
          <label for="" class="text-p-md text-neutral-80">HPS Document</label>
        </div>
        <div class="flex gap-2 p-3 bg-neutral-20 rounded-xl items-center">
          <input
            type="checkbox"
            name=""
            id=""
            class="w-5 h-5 bg-neutral-30 checked:bg-neutral-60 rounded-[4px] border border-neutral-30 checked:border-neutral-60"
          />
          <label for="" class="text-p-md text-neutral-80"
            >Profitability Analyst (PA)</label
          >
        </div>
        <div class="flex gap-2 p-3 bg-neutral-20 rounded-xl items-center">
          <input
            type="checkbox"
            name=""
            id=""
            class="w-5 h-5 bg-neutral-30 checked:bg-neutral-60 rounded-[4px] border border-neutral-30 checked:border-neutral-60"
          />
          <label for="" class="text-p-md text-neutral-80">Other</label>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-5">
      <div
        class="flex flex-row justify-between items-center pb-2 border-b border-b-primary-border"
      >
        <div>
          <div class="text-p-lg font-medium text-neutral-100">
            Note Memo VP TA
          </div>
          <p class="text-p-sm text-neutral-80">
            You can insert a memo by clicking the toggle button
          </p>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4">
        <app-input-text
          type="normal"
          [isReadOnly]="true"
          id="memoNumber"
          label="Memo Number"
          value="TD/MEMO/144/23"
        />
        <app-input-text
          type="normal"
          [isReadOnly]="true"
          id="date"
          label="Date"
          value="04 April 2023"
        />
        <app-input-text
          type="normal"
          [isReadOnly]="true"
          id="from"
          label="From"
          value="TD"
        />
        <app-input-text
          type="normal"
          [isReadOnly]="true"
          id="to"
          label="To"
          value="TX"
        />
      </div>
      <app-textarea
        type="normal"
        id="note"
        label="Note"
        content="Keterangan detail : Renewal IDR 209,449,500. Lisensi aplikasi WEBEX meeting / confrence (7 ea). Lisensi Cloud device registration (5 ea). Addon Storage 100 Gb (1 ea). Lisensi Server CTI-CMS-1000-M5-K9 (2 ea). Lisensi Cisco Webex Video Integration for Microsoft Teams (5 ea). Estimasi biaya manage service infrastruktur maintenance selama 1 tahun sebesar RP 108.000.000 Total biaya yang dibutuhkan RP 317.449.500 (Konversi Kurs RKAP 2023 RP 14,350)"
        [isAsk]="true"
        [isReadOnly]="true"
      />
    </div>
  </div>
  <div
    class="flex flex-row justify-between items-center pb-2 border-b border-b-primary-border"
  >
    <div>
      <div class="text-p-lg font-medium text-neutral-100">
        Attachment File
        <span class="text-tertiary-tx-red text-p-md">*</span>
      </div>
      <p class="text-p-sm text-neutral-80">
        Submitting a budget requires you to add supporting files
      </p>
    </div>
    <app-button
      label="Upload File"
      icon="assets/images/icons/ic-archive.svg"
      type="primary"
      data-modal-target="uploadFile"
      data-modal-toggle="uploadFile"
    />
  </div>
  <app-table type="createNewRequestTable"></app-table>
  <div class="flex gap-2 mt-5 w-full items-center justify-center">
    <app-button
      icon="assets/images/icons/ic-save.svg"
      type="primary"
      label="Save"
    />

    <app-button
      icon="assets/images/icons/ic-check-circle.svg"
      type="success"
      label="Submit"
    />

    <app-button
      icon="assets/images/icons/ic-pencil-square.svg"
      type="info"
      label="Edit"
    />
  </div>
</section>
