<main class="flex flex-row w-full">
  <div>
    <app-sidebar active="/dashboard"></app-sidebar>
  </div>
  <div class="flex-1 py-6 pr-6 box-border flex flex-col gap-4">
    <app-topnav></app-topnav>
    <div
      class="p-4 border border-primary-border rounded-3xl bg-neutral-10 flex flex-col gap-4"
    >
      <div class="flex flex-row justify-between items-center">
        <h2 class="text-subheading font-medium text-neutral-100">
          List of Data
        </h2>
        <div class="flex flex-row gap-3">
          <app-button
            label="Hide Filter"
            icon="assets/images/icons/ic-eye-blue-slash.svg"
            type="primary-not-active"
          ></app-button>
          <app-button
            label="Create Request"
            icon="assets/images/icons/ic-plus-circle-white.svg"
            type="primary"
          ></app-button>
        </div>
      </div>
      <div class="border border-primary-border rounded-3xl bg-neutral-10 p-3">
        <div class="flex gap-3 items-center">
          <div
            class="flex-grow flex flex-col gap-3 border-r border-r-primary-border pr-4"
          >
            <div class="grid grid-cols-4 gap-3">
              <app-select-box id="years" label="Years"></app-select-box>
              <app-select-box id="dinas" label="Dinas"></app-select-box>
              <app-input-text
                id="requestNumber"
                placeholder="Fill this.."
                label="No. of Request"
              ></app-input-text>
              <app-input-date
                id="entryDateFrom"
                placeholder="Select One.."
                label="Entry Date (From)"
              ></app-input-date>
            </div>
            <hr class="w-full border-t border-t-primary-border" />
            <div class="grid grid-cols-4 gap-3">
              <app-input-date
                id="entryDateTo"
                placeholder="Select One.."
                label="Entry Date (To)"
              ></app-input-date>
              <app-select-box
                id="typeSubmission"
                label="Type of Submission"
              ></app-select-box>
              <app-select-box id="status" label="Status"></app-select-box>
              <app-select-box id="statusTo" label="Status To"></app-select-box>
            </div>
          </div>
          <app-button
            label="Reset Filter"
            icon="assets/images/icons/ic-eye-red.svg"
            type="danger-not-active"
          ></app-button>
        </div>
      </div>
      <div class="border border-primary-border rounded-3xl bg-primary-bg-2 p-3">
        <div class="grid grid-cols-5 gap-4">
          <app-status-percentage
            label="Reject"
            value="100"
            percentage="50"
          ></app-status-percentage>
          <app-status-percentage
            label="Revise"
            value="100"
            percentage="50"
          ></app-status-percentage>
          <app-status-percentage
            label="Open"
            value="100"
            percentage="50"
          ></app-status-percentage>
          <app-status-percentage
            label="Progress"
            value="100"
            percentage="50"
          ></app-status-percentage>
          <app-status-percentage
            label="Closed"
            value="100"
            percentage="50"
          ></app-status-percentage>
        </div>
      </div>
      <app-table></app-table>
    </div>
  </div>
</main>
