<aside class="max-w-[331px] w-full p-6 box-border">
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-1 px-[16.5px] box-border">
      <div class="w-full h-[52px]">
        <img src="assets/images/logo.png" alt="logo" />
      </div>
      <div class="p-lg tracking-[0.5px] font-semibold text-primary-hover">
        Dashboard Realisasi Anggaran
      </div>
    </div>
    <ul class="flex flex-col gap-3">
      <li routerLinkActive="active">
        <a routerLink="/home" class="flex flex-row gap-3 items-center">
          <div class="w-[48px] h-[48px] bg-white p-3 box-border rounded-[12px]">
            <img
              src="assets/images/icons/ic-dashboard.svg"
              alt="dashboard icon"
            />
          </div>
          <span class="text-p-lg tracking-[0.5px] text-neutral-70">
            Dashboard
          </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home" class="flex flex-row gap-3 items-center">
          <div class="w-[48px] h-[48px] bg-white p-3 box-border rounded-[12px]">
            <img src="assets/images/icons/ic-request.svg" alt="request icon" />
          </div>
          <span class="text-p-lg tracking-[0.5px] text-neutral-70">
            Request
          </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home" class="flex flex-row gap-3 items-center">
          <div class="w-[48px] h-[48px] bg-white p-3 box-border rounded-[12px]">
            <img
              src="assets/images/icons/ic-approval.svg"
              alt="approval icon"
            />
          </div>
          <span class="text-p-lg tracking-[0.5px] text-neutral-70">
            Need Approval
          </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home" class="flex flex-row gap-3 items-center">
          <div class="w-[48px] h-[48px] bg-white p-3 box-border rounded-[12px]">
            <img
              src="assets/images/icons/ic-reallocation.svg"
              alt="reallocation icon"
            />
          </div>
          <span class="text-p-lg tracking-[0.5px] text-neutral-70">
            Reallocation Budget
          </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home" class="flex flex-row gap-3 items-center">
          <div class="w-[48px] h-[48px] bg-white p-3 box-border rounded-[12px]">
            <img src="assets/images/icons/ic-report.svg" alt="report icon" />
          </div>
          <span class="text-p-lg tracking-[0.5px] text-neutral-70">
            Report
          </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home" class="flex flex-row gap-3 items-center">
          <div class="w-[48px] h-[48px] bg-white p-3 box-border rounded-[12px]">
            <img src="assets/images/icons/ic-guide.svg" alt="Guidance icon" />
          </div>
          <span class="text-p-lg tracking-[0.5px] text-neutral-70">
            Guidance Application
          </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home" class="flex flex-row gap-3 items-center">
          <div class="w-[48px] h-[48px] bg-white p-3 box-border rounded-[12px]">
            <img
              src="assets/images/icons/ic-feedback.svg"
              alt="Feedback icon"
            />
          </div>
          <span class="text-p-lg tracking-[0.5px] text-neutral-70">
            Feedback Application
          </span>
        </a>
      </li>
    </ul>
  </div>
</aside>
