<table class="w-full">
    <tr
    class=" text-center border border-b-2 border-x-white border-t-white border-b-primary-hover text-p-md tracking-[0.5px] table-auto">
    <th *ngFor="let column of headers" class="p-2">
      {{column}}
    </th>
  </tr>

  <tr class="text-center border  border-x-white border-t-white border-b-1 border-b-primary-border text-p-md tracking-[0.5px]">
    <td class="p-4">01</td>
    <td>Hutang Piutang</td>
    <td>Other</td>
    <td>0.8 MB</td>
    <td>Rifky Sefti</td>
    <td>JKTTAB</td>
    <td>30 Maret 2023</td>
    <td></td>
  </tr>
</table>