<aside class="max-w-[331px] w-full p-6 box-border">
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-1 px-[16.5px] box-border">
      <div class="w-full h-[52px]">
        <img src="assets/images/logo.png" alt="logo" />
      </div>
      <div class="p-lg tracking-[0.5px] font-semibold text-primary-hover">
        Dashboard Realisasi Anggaran
      </div>
    </div>
    <ul class="flex flex-col gap-3">
      <li *ngFor="let menuItem of sidebarData" routerLinkActive="active">
        <a
          [routerLink]="[menuItem.path]"
          [ngClass]="
            menuItem.path === active
              ? 'flex flex-row gap-3 items-center bg-primary-hover rounded-[12px]'
              : 'flex flex-row gap-3 items-center'
          "
        >
          <div
            [ngClass]="
              menuItem.path === active
                ? 'w-[48px] h-[48px] bg-primary-pressed p-3 box-border rounded-[12px]'
                : 'w-[48px] h-[48px] bg-white p-3 box-border rounded-[12px]'
            "
          >
            <img
              [src]="
                menuItem.path === active ? menuItem.srcActive : menuItem.src
              "
              alt="dashboard icon"
            />
          </div>
          <span
            [ngClass]="
              menuItem.path === active
                ? 'text-p-lg tracking-[0.5px] text-neutral-10 '
                : 'text-p-lg tracking-[0.5px] text-neutral-70'
            "
          >
            {{ menuItem.title }}
          </span>
        </a>
        <div
          *ngFor="let subMenu of menuItem.subMenu"
          class="flex flex-row items-center gap-3"
        >
          <div class="w-[48px] h-[48px]">
            <div class="w-[3px] mx-auto h-full bg-primary-pressed"></div>
          </div>
          <a href="">{{ subMenu.title }}</a>
        </div>
      </li>
    </ul>
  </div>
</aside>
