<section id="trackingApproval" class="flex flex-col gap-4">
  <div
    class="text-p-lg font-medium text-center pb-1 border-b border-b-primary-border"
  >
    Approval Form Reallocation
  </div>
  <div class="flex justify-center gap-3 w-full flex-wrap">
    <app-card
      status="Approve"
      title="Reallocation Applicants"
      name="R RENDY PURWIDYAPUTRA"
      position="VP CORPORATE STRATEGY & BUSINESS DEVELOPMENT"
    />
    <app-card
      status="Approve"
      title="Approval of Budget Owner"
      name="Zarul Fuziono"
      position="VP Narrow Body Base Maintenance"
    />
    <app-card
      status="Approve"
      title="Reallocation Applicant"
      name="Chairuddin"
      position="VP Financial & Management Accounting"
    />
  </div>
  <div
    class="text-p-lg font-medium text-center pb-1 border-b border-b-primary-border"
  >
    Approval Form Verification
  </div>
  <div class="flex justify-center gap-3 w-full flex-wrap">
    <app-card
      status="Waiting Approval"
      title="Prepared by"
      name="Rifky Sefti Nugroho"
      position="TAB"
    />
    <app-card
      status="Waiting Approval"
      title="Reviewed by"
      name="Santi Agustina"
      position="SM Profitability & Budget Control"
    />
    <app-card
      status="Waiting Approval"
      title="Reviewed by"
      name="Roland Muhammad"
      position="SM Cash Management"
    />
  </div>
  <div
    class="text-p-lg font-medium text-center pb-1 border-b border-b-primary-border"
  >
    Approval Form PB-Y
  </div>
  <div class="flex justify-center gap-3 w-full flex-wrap">
    <app-card
      status="Waiting Approval"
      title="Checked by"
      name="Zarul Fuziono"
      position="VP Narrow Body Base Maintenance"
    />
    <app-card
      status="Waiting Approval"
      title="Checked by"
      name="Chairuddin"
      position="VP Financial & Management Accounting"
    />
    <app-card
      status="Waiting Approval"
      title="Checked by"
      name="Indra Prabowo"
      position="VP Treasury Management"
    />
    <app-card
      status="Waiting Approval"
      title="Approved by"
      name="Salusra Satria"
      position="Director of Finance"
    />
  </div>
</section>
