<app-layout currentUrl="/dashboard">
  <div
    class="p-4 border border-primary-border rounded-3xl bg-neutral-10 flex flex-col gap-4"
  >
    <div class="flex justify-between items-center">
      <app-button
        icon="assets/images/icons/ic-arrow-left.svg"
        type="primary-not-active"
        label="Back"
        [isHref]="true"
        href="/dashboard"
      />
      <p class="text-p-lg font-medium">Create Request Realization</p>
      <app-button
        icon="assets/images/icons/ic-reset.svg"
        type="danger-not-active"
        label="Reset"
      />
    </div>
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-3 gap-4">
        <app-input-text
          label="Entry Date"
          type="normal"
          id="entryDate"
          [value]="currentDate"
          [isReadOnly]="true"
        ></app-input-text>
        <app-input-text
          type="normal"
          id="requestNumber"
          placeholder="Fill this.."
          label="User (Dinas)"
          [isReadOnly]="true"
          value="TA"
        ></app-input-text>
        <app-select-box
          id="typeSubmission"
          label="Type of Submission"
          type="typeSubmission"
          [required]="true"
          [data]="[
          {
            id:'Uang Muka',
            value:'Uang Muka',
          },
          {
            id:'Pengadaaan',
            value:'Pengadaaan'
          },
          {
            id:'Quality',
            value:'Quality'
          },
          {
            id:'Facility',
            value:'Facility'
          },
          {
            id:'ICT',
            value:'ICT'
          },
          {
            id:'Entertainment',
            value:'Entertainment'
          },
          {
            id:'Reimbursement',
            value:'Reimbursement'
          }
          ]"
          type="arrayData"
          displayWith="Entertainment"
        ></app-select-box>
      </div>
      <div class="grid grid-cols-4 gap-4">
        <app-input-text
          type="normal"
          id="nameOfRequest"
          placeholder="Fill this.."
          label="Name of Request"
          [isReadOnly]="true"
          value="ADE MA'RUFAN AMALA"
        ></app-input-text>
        <app-input-text
          type="normal"
          id="idNumber"
          placeholder="Fill this.."
          label="ID Number"
          [isReadOnly]="true"
          value="582127"
        ></app-input-text>

        <!-- <app-input-text
          [required]="true"
          id="responsibleOfRequest"
          label="Responsible of Request"
          type="normal"
          [isReadOnly]="true"
          placeholder="Fill This.."
        ></app-input-text> -->
        <app-select-box
          [required]="true"
          id="responsibleOfRequest"
          label="Responsible of Request"
          type="normal"
          [data]="userData"
          placeholder="Fill This.."
          (selectedValue)="getValue($event)"
        ></app-select-box>
        <app-input-text
          type="normal"
          id="idNumber"
          placeholder="Fill this.."
          label="ID Number"
          [value]="idNumber"
          [isReadOnly]="true"
        ></app-input-text>
      </div>
    </div>
    <app-textarea
      id="titleOfRequest"
      label="Title of Request"
      [required]="true"
      type="normal"
      [isAsk]="true"
    ></app-textarea>
    <app-textarea
      id="noteOfRequest"
      label="Note of Request"
      [required]="true"
      type="rich"
      [isAsk]="true"
    ></app-textarea>

    <!-- <app-item></app-item> -->
    <div class="flex flex-col gap-3">
      <div
        class="flex flex-row justify-between items-center pb-2 border-b border-b-primary-border"
      >
        <div>
          <div
            class="text-p-lg font-medium text-neutral-100 after:content-['*'] after:text-tertiary-tx-red"
          >
            Item
          </div>
          <p class="text-p-sm text-neutral-80">
            As many items as you need can be added
          </p>
        </div>
        <app-button
          label="Add"
          icon="assets/images/icons/ic-plus-circle-blue.svg"
          type="primary-not-active"
          (click)="addItems()"
        >
        </app-button>
      </div>
      <form
        [formGroup]="itemsForm"
        *ngFor="let item of getItems.controls; let i = index"
      >
        <div class="flex flex-col gap-4" formArrayName="items">
          <ng-container *ngIf="isDisplay">
            <div
              class="flex flex-col gap-4 p-4 box-border border border-primary-border rounded-3xl bg-primary-bg-2"
              formGroupName="{{ i }}"
            >
              <div class="flex justify-between items-center">
                <div class="flex flex-col justify-center items-center">
                  <p class="text-p-sm text-neutral-60 p-0 m-0 leading-3">
                    Item
                  </p>
                  <p class="text-p-lg font-semibold text-neutral-100">
                    {{ i + 1 }}
                  </p>
                </div>
                <div class="flex flex-row gap-3">
                  <app-button
                    *ngIf="showDeleteButton(i)"
                    label="Delete"
                    icon="assets/images/icons/ic-trash-red.svg"
                    type="danger-not-active"
                    (click)="removeItem(i)"
                  ></app-button>
                  <app-button
                    label="Hide Item"
                    [icon]="
                      isDisplay
                        ? 'assets/images/icons/ic-eye-white-slash.svg'
                        : 'assets/images/icons/ic-eye-blue.svg'
                    "
                    [label]="isDisplay ? 'Hide Item' : 'Show Item'"
                    [type]="isDisplay ? 'primary' : 'primary-not-active'"
                    (click)="isDisplay = !isDisplay"
                  >
                  </app-button>
                </div>
              </div>
              <hr class="w-full h-px bg-primary-border border-0" />
              <div class="grid grid-cols-3 gap-4">
                <app-select-box
                  type="normal"
                  id="group"
                  label="Group"
                  [required]="true"
                  [data]="selectGroupData"
                  (selectedValue)="getValueGL($event, i)"
                >
                </app-select-box>
                <app-select-box
                  type="normal"
                  id="groupDetail"
                  label="Group Detail"
                  [required]="true"
                  [data]="selectGroupDetail"
                  (selectedValue)="getValueGL($event, i)"
                >
                </app-select-box>
                <app-input-text
                  label="G/L Number"
                  [isAsk]="true"
                  type="normalControl"
                  [isReadOnly]="true"
                  formControlName="GLNumberControl"
                  [value]="item.get('GLNumberControl')?.value"
                  id="glAccount"
                />
              </div>
              <div class="grid grid-cols-4 gap-4">
                <app-input-text
                  type="currency"
                  id="available"
                  label="Available"
                  formControlName="availableControl"
                  [isDisabled]="true"
                />
                <app-input-text
                  type="amount-submission"
                  id="amountSubmission"
                  label="Amount Submission"
                  [currentKurs]="currentKurs"
                  formControlName="amountSubmissionControl"
                  [available]="item.get('availableControl')?.value"
                />
                <app-input-date
                  label="Period Start"
                  id="periodStart"
                  [isAsk]="true"
                  [required]="true"
                  formControlName="periodStartControl"
                />
                <app-input-date
                  label="Period Finish"
                  id="periodFinish"
                  [isAsk]="true"
                  [required]="true"
                  formControlName="periodFinishControl"
                />
              </div>
              <app-input-text
                type="normalControl"
                id="descriptionPB"
                label="Description PB-Y-02"
                [isAsk]="true"
                [required]="true"
                formControlName="descriptionControl"
              />
              <app-input-text
                type="normalControl"
                id="remarkListPB"
                label="Remark List PB-Y-02"
                formControlName="remarkControl"
                [isAsk]="true"
                [required]="true"
              />
            </div>
          </ng-container>

          <ng-container *ngIf="!isDisplay">
            <div
              class="flex flex-row justify-between p-4 box-border border border-primary-border rounded-3xl bg-primary-bg-2"
            >
              <div class="flex items-center text-center">
                <div class="flex flex-col justify-center items-center pr-3">
                  <p class="text-p-sm text-neutral-60 p-0 m-0 leading-3">
                    Item
                  </p>
                  <p class="text-p-lg font-semibold text-neutral-100">
                    {{ i + 1 }}
                  </p>
                </div>

                <div class="border-l border-primary-border p-3">
                  <p class="text-p-sm text-neutral-60 p-0 m-0 leading-3">
                    Group
                  </p>
                  <p class="text-p-lg font-semibold text-neutral-100">
                    Rental Expense
                  </p>
                </div>
                <div class="border-l border-primary-border p-3">
                  <p class="text-p-sm text-neutral-60 p-0 m-0 leading-3">
                    Group Detail
                  </p>
                  <p class="text-p-lg font-semibold text-neutral-100">
                    Building-Rental
                  </p>
                </div>
                <div class="border-l border-primary-border p-3">
                  <p class="text-p-sm text-neutral-60 p-0 m-0 leading-3">
                    G/L Number
                  </p>
                  <p class="text-p-lg font-semibold text-neutral-100">
                    400000001
                  </p>
                </div>
                <div class="border-l border-primary-border p-3">
                  <p class="text-p-sm text-neutral-60 p-0 m-0 leading-3">
                    Amount Submission
                  </p>
                  <p class="text-p-lg font-semibold text-neutral-100">
                    758.62 USD
                  </p>
                </div>
              </div>
              <div class="flex gap-3">
                <app-button
                  *ngIf="showDeleteButton(i)"
                  label="Delete"
                  icon="assets/images/icons/ic-trash-red.svg"
                  type="danger-not-active"
                  (click)="removeItem(i)"
                ></app-button>
                <app-button
                  label="Hide Item"
                  [icon]="
                    isDisplay
                      ? 'assets/images/icons/ic-eye-white-slash.svg'
                      : 'assets/images/icons/ic-eye-blue.svg'
                  "
                  [label]="isDisplay ? 'Hide Item' : 'Show Item'"
                  [type]="isDisplay ? 'primary' : 'primary-not-active'"
                  (click)="isDisplay = !isDisplay"
                >
                </app-button>
              </div>
            </div>
          </ng-container>
        </div>
      </form>
    </div>

    <div
      class="flex flex-row justify-between items-center pb-2 border-b border-b-primary-border"
    >
      <div>
        <div class="text-p-lg font-medium text-neutral-100">
          Dokument Pendukung
          <span class="text-tertiary-tx-red text-p-md">*</span>
        </div>
        <p class="text-p-sm text-neutral-80">
          Lampirkan dokumen pendukung, seperti FS/CBA/RA atau yang lainnya
        </p>
      </div>
      <app-button
        label="Upload File"
        icon="assets/images/icons/ic-archive.svg"
        type="primary"
        data-modal-target="uploadFile"
        data-modal-toggle="uploadFile"
      />
    </div>
    <app-table
      type="createNewRequestTable"
      [requestBody]="requestBody"
    ></app-table>
    <div class="flex gap-2 mt-5 w-full items-center justify-center">
      <app-button
        icon="assets/images/icons/ic-save.svg"
        type="primary"
        label="Save"
        (click)="save()"
      />
      <app-button
        icon="assets/images/icons/ic-arrow-path-rounded-square.svg"
        type="danger"
        label="Create Realokasi"
        data-modal-target="overlimitBudget"
        data-modal-toggle="overlimitBudget"
      />
      <app-button
        icon="assets/images/icons/ic-check-circle.svg"
        type="success"
        label="Submit"
      />
      <app-button
        icon="assets/images/icons/ic-arrow-path-rounded-square.svg"
        type="secondary"
        label="Create Realokasi"
      />
      <app-button
        icon="assets/images/icons/ic-pencil-square.svg"
        type="info"
        label="Edit Realokasi"
      />
      <app-button
        icon="assets/images/icons/ic-check-circle.svg"
        type="secondary"
        label="Submit"
      />
    </div>
  </div>
  <app-modal
    type="uploadFile"
    (uploadFileToTable)="uploadFileToTable($event)"
  />
  <app-modal type="overlimitBudget" />
</app-layout>
