<div class="flex flex-col gap-1">
  <label for="{{ id }}">{{ label }}</label>
  <div class="relative w-full">
    <select
      name="{{ id }}"
      id="{{ id }}"
      class="border border-neutral-40 p-3 rounded-2xl text-p-md text-neutral-80 appearance-none w-full"
    >
      <option value="">Select One</option>
    </select>
    <img
      src="assets/images/icons/ic-arrow-down.svg"
      class="w-5 h-5 absolute right-3 top-1/2 -translate-y-1/2"
      alt="arrow down"
    />
  </div>
</div>
